.background{
  background:url("https://s.yimg.com/ny/api/res/1.2/KrX_lrHKTe8nv5D85cTC.g--/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-SG/homerun/airfrov_825/33a7ae62ec6fc7014b0b8e16a1c81d72") ;
  background-repeat:no-repeat;
  background-size: 100% 100%; 
  background-attachment : fixed;
}

.navbar{
  height:80px;
  background-color:lightblue;
  display:flex;
  justify-content:flex-start;
  margin-bottom:0px;
}
.navContent{
   font-size:20px;
   font-family:Arial;
   margin-left:750px;
   width:800px;
   display:flex;
   justify-content:flex-end
}
.parent{
   width:1730px;
   height:420px; 
   display:flex;
   flex-direction:row;
   justify-content:space-around;
   background:rgba(255,255,255,0.2);
   
}
.card{
  display:flex;
  flex-direction:column;
  width:500px;
  height:400px;
  background-color:#999999;
  margin-top:20px;
}

.name{
  font-size:32px;
  font-weight:bolder;
  font-family:Arial;
  text-align: center;
}
.content{
   display:flex;
   flex-direction:row;
   font-family:Arial;
   font-size:18px;
   font-weight:bolder;
   margin-top:9px;
   margin-right:10px;
}
.button{
  margin-left:60px;
  margin-bottom:10px;
  position:relative;
}